@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Rampart+One&display=swap");

* {
  margin: 0.3rem;
  font-family: "Noto Sans TC", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

header h1 {
  font-family: "Rampart One", cursive;
  font-size: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.nav-bg {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-left: 1rem;
  margin-right: 1rem;
  display: grid;
  grid-template-columns: 60% 40%;
}

.nav-bg p {
  align-self: center;
  justify-self: right;
  font-weight: 500;
  font-style: italic;
}

.nav-bg ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.title {
  font-weight: 500;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

#cat-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  margin-left: 6rem;
  margin-right: 6rem;
}

.cat-card {
  background-image: url("/assets/grid-graphic-design-pattern-line-56cacb5835b7ccd7f6454f92b1d95af0.png");
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44vh;
  width: 18vw;
  justify-self: center;
}

.cat-title {
  background-color: white;
  border-radius: 4rem;
  /* border: 0.3px solid black; */
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  width: min-content;
  padding: 2rem;
}

/* PRODUCT LIST STYLING */

#breadcrumbs {
  margin-top: 1rem;
}

#product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

img {
  display: block;
  max-width: 100%;
}

.sold-out img {
  opacity: 0.3;
}

.card-title {
  font-weight: 600;
}

.prod-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 3px 5px lightgrey;
}

.container {
  position: relative;
}

.sold-out-tag {
  background-color: darkslategrey;
  border-radius: 4rem;
  color: white;
  width: max-content;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.off-tag {
  background-color: red;
  border-radius: 4rem;
  color: white;
  width: min-content;
  padding: 1rem;
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.price {
  font-weight: 500;
}

.old-price {
  font-weight: 400;
  font-size: 0.9rem;
  text-decoration: line-through;
}

.off {
  color: red;
  font-weight: 500;
}

/* .prod-card-sold-out ::before {
    content: "Sold Out";
} 
if i turn it on, it puts sold out in every line */
/* 

/* PRODUCT PAGE */
#prod {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 2rem;
  margin-right: 0;
}
#prod-pic {
  background-image: url("/assets/black-shirt.webp");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  width: 40vw;
}

#prod-info h1 {
  font-size: 2rem;
}

#prod-info {
  margin-left: 2rem;
}

#prod-price {
  margin-top: 0;
  margin-left: 0;
  font-size: 1.3rem;
}

.new-price {
  margin-top: 0;
  font-size: 1.3rem;
  color: red;
}

.old-prod-price {
  text-decoration: line-through;
  font-size: 1.1rem;
  color: darkslategrey;
}

.discount-tag {
  background-color: red;
  color: white;
  font-size: 0.9rem;
  border-radius: 1rem;
  padding: 0.5rem;
  width: max-content;
}

#brand {
  font-weight: 300;
}

#product-name {
  margin-bottom: 0;
}

#prod-color {
  margin-top: 1.7rem;
}

#inv-nr {
  color: gray;
  font-style: italic;
  font-size: 0.9rem;
}

#size:hover {
  text-decoration: underline;
}

#sizes {
  display: flex;
  margin-top: 0;
  margin-bottom: 1rem;
}

#size-title {
  margin-top: 1rem;
  margin-bottom: 0;
}

#price-flex {
  display: flex;
}

.sold-out-txt {
  font-style: italic;
  margin-bottom: 0.6rem;
}

.buy {
  font-size: 1.3rem;
  padding: 1rem;
  background-color: #d7f20c;
  color: darkslategrey;
  border-radius: 1rem;
  border: darkslategrey;
  box-shadow: 0px 3px 5px lightgrey;
  margin-bottom: 1.5rem;
}

.alert {
  font-size: 1.3rem;
  padding: 1rem;
  background-color: yellow;
  color: darkslategrey;
  border-radius: 1rem;
  border: yellow;
  box-shadow: 0px 3px 5px lightgrey;
  margin-bottom: 1.5rem;
}

button:hover {
  transform: scale(1.02);
}

#specs {
  font-size: 0.8rem;
  margin-right: 0;
}

.out-of-stock {
  color: grey;
}
